<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>CitiusTech HealthCare</title>
</head>
<body>
	<div>
		Hi <b th:text="${email.physicianName}"></b>
	</div>

	<div>
		Your have scheduled appointment with<b th:text="${email.patientName}"></b>
		on <b th:text="${email.date}"></b> at <b th:text="${email.time}"></b>
	</div>

	<div>
		<b>Thanks</b>
	</div>
	<div>
		<b>CitiusTechHealthCare</b>
	</div>
</body>
</html>